.projectItem {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.projectItem  a.item {
  padding: 0.8em 1em;
  background: transparent;
  font-size: 1.1rem;
}

a.item {
  transition: .2s all ease-out;
  text-decoration: none;
  border-bottom: none!important;
  opacity: .6;
}

a.item:hover {
  opacity: 1;
}

.projectItem a.item:hover {
  background: rgba(136, 136, 136, 0.03);
}