.container {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  z-index: 4444;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav {
  position: relative;
  z-index: 4444;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 56px;
  background-color: hsla(0, 0%, 100%, .8);
  box-shadow: 0 10px 10px -5px rgb(0 0 0 / 10%);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.floating-indicator {
  position: absolute;
  z-index: -1;
  width: 112px;
  height: 44px;
  border-radius: 230px;
  background-color: #f2f2f2;
}

.nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 112px;
  height: 44px;
  padding: 12px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 230px;
  max-width: 100%;
}

.nav-text {
  margin-right: 0;
  font-family: Graphik,sans-serif;
  color: #999;
  font-size: 16px;
  font-weight: 500;
}

.nav-text.active {
  color: #000;
}