.container {
  overflow: hidden;
  height: 328px;
  max-height: 328px;
  min-width: 328px;
  padding: 24px;
}

.icon {
  width: 56px;
  height: 56px;
  position: absolute;
  left: auto;
  top: 24px;
  right: 24px;
  bottom: auto;
  z-index: 22;
  min-height: 56px;
  min-width: 56px;
  width: 56px;
  height: 56px;
}

.img {
  position: relative;
  z-index: 2;
  min-height: 56px;
  min-width: 56px;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
  -webkit-transition: box-shadow 250ms;
  transition: box-shadow 250ms;
}

.list {
  transform: translate3d(0px, 200%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;

  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 24px;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 48px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .19);
  border-radius: 56px;
  background-color: hsla(0, 0%, 100%, .5);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.indicator {
  transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;

  position: absolute;
  left: 4px;
  right: 4px;
  z-index: -1;
  height: 38px;
  border-radius: 230px;
  background-color: #fff;
}

.tab {
  position: relative;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 48px;
  min-height: 48px;
  min-width: 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tab_icon {
  display: block;
  width: 26px;
}

.panel {
  height: 300px;
  text-align: center;
  background: #ddd;
  clear: both;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
  border-radius: 32px;
  background-color: transparent;
  border-radius: 32px;
  display: block;
  overflow: hidden;
  z-index: 1;
  left: 0;
  right: 0;
  height: 100%;
  white-space: nowrap;
}

.photo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
  text-align: left;
  background-image: url(/images/unknown.svg);
  /* background-position: 50% 100%; */

  background-size: cover;
  background-repeat: no-repeat;
  transform: translateX(0px);
  opacity: 1;
  z-index: 330;
  /* visibility: hidden; */
}