.gridItem {
  position: relative;
  padding: 1.5rem 1.75rem;
  color: #000;
  background-color: #f7f7f9;
  border: 1.5px solid #eaeaea;
  overflow: hidden;
  border-radius: 1.78em;
}

.gridItem.large {
  grid-column: span 2;
}

.gridItem.superLarge {
  grid-column: span 3;
}

.gridItem.centered {
  text-align: center;
}

.gridItem h3 {
  position: relative;
  font-size: 34px;
  font-size: min(34px, max(4vw, 24px));
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.02rem;
  z-index: 2;
}

@media (prefers-color-scheme: dark) {
  .gridItem:not(.light-only) {
    color: #fff;
    background-color: #1a1a1a;
  }
  .gridItem {
    border: 1.5px solid #2d2d2d;
  }
}

.grid {
  padding: 0 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  font-feature-settings: initial;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex .gridItem:not(:first-child) {
  margin-top: 2em;
}

@media screen and (max-width: 1024px) {
  .gridItem {
    max-width: 80vw;
    width: 100%;
  }

  .gridItem.large {
    grid-column: span 1;
  }

  .gridItem.superLarge {
    grid-column: span 1;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 3em;
    justify-items: center;
  }

  .gridItem h3 {
    font-size: 28px;
    font-size: min(28px, max(4vw, 22px));
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .gridItem {
    max-width: 460px;
    width: 100%;
    border: none;
  }

  .gridItem:first-child {
    border-top: none;
  }

  .gridItem.large {
    grid-column: span 1;
  }

  .gridItem.superLarge {
    grid-column: span 1;
  }

  .grid {
    padding: 0;
    grid-template-columns: 1fr;
    grid-gap: 3em;
    justify-items: center;
  }

  .gridItem h3 {
    font-size: 34px;
    font-size: min(34px, max(4vw, 22px));
    text-align: center;
  }

  .gridItem {
    display: block;
  }
}